<!----- CONTACT FORM SECTION ----->
<section>
    <div>
        <h2>We're happy to hear from you</h2>
    </div>
    <div>
        <form action="#" method="POST" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="You name" required>                             
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="You email" required>                             
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="find-us">How did you find us?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="friends" selected>Friends</option>
                        <option value="search-engine">Search engine</option>
                        <option value="advertisement">Advertisement</option>
                        <option value="Other">Other</option>
                    </select>                             
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="newsletter">Newsletter</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" name="newsletter" id="newsletter" checked>Yes, please!                            
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="message">Drop us a line</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Your message"></textarea> 
                </div>                           
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <button class="btn btn-full">Send It</button>                           
                </div>
            </div>
        </form>
    </div>
</section>