/*-------CITIES SECTION--------*/
.city-section {
    .row {
        max-width: 1140px;
        .box {
            padding: 1%;
            img {
                display: block;
                float: left;
                width: 100%;
                height: auto;
                margin-bottom: 15px;
            }
        
            .city-feature {
                margin-bottom: 5px; 
                
                a:link,
                a:visited {
                   text-decoration: none;
                   color: #e67e22;
                   padding-bottom: 1px;
                   border-bottom: 1px solid #e67e22;
                   transition: border-bottom 0.2s, color ;
               }
               
                a:hover,
                a:active {
                   color: #555555;
                   border-bottom: 1px solid transparent;
               }   
            }
            
        }
    }    
}



