<footer class="app-footer">
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">iOS App</a></li>
                <li><a href="#">Android App</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-links">
                <li><a href="#">logo-twitter</a></li>
                <li><a href="#">logo-google</a></li>
                <li><a href="">logo-instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>Copyright &copy; 2020 by Bon Appetit. All rights reserved.</p>
    </div>
</footer>