/*-------HEADER--------*/
header {
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.4)), url(../../../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.box {
    padding: 1%;
    text-align: justify;
}

.header-text {
    position: absolute;
    width: 80%;
    top: 35%;
    left: 20%;
}

/*-------LOGO--------*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 25px;
    margin-left: 40px;
}

/*-------MAIN NAVIGATION--------*/
.main-nav {
    float: right;
    list-style: none;
    margin: 55px 20px 0 0;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited
 {
    color: #fff;
    padding: 8px 0;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f39c12;
}