<header class="app-header">
    <nav>
        <div class="row">
            <img class="logo"  src="./assets/images/logo-white.png" alt="Bon Appetit logo">
            <ul class="main-nav">
                <li><a routerLink="/home">How it works</a></li>
                <li><a routerLink="/home">Our cities</a></li>
                <li><a routerLink="/features">Our Plans</a></li>
                <li><a routerLink="/features">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="header-text">
        <h1>Goodbye junk food.<br>Hello super healthy meals.</h1>
        <a class="btn btn-full" href="#">I’m hungry</a>
        <a class="btn btn-ghost" href="#">Show me more</a>
    </div>
</header>