/* Desktop screens: from 1023px to 1200px, small tablets to big tablets*/
@media only screen and (max-width: 1400px) {
    .header-text {
        padding: 0 2%;
    }
    .row {
        padding: 0;
    }
}

/* Tablet screens: from 768px to 1023px, small tablets to big tablets*/
@media only screen and (max-width: 1023px) {
    body{ font-size: 18px; }
    section { padding: 60px 0;}

    .feature-text { 
        width: 80%;    
        margin-left: 10%;
    }

    .btn-app img {
        height: 40px;
        width: auto;
        margin-left: 30px;
    }

    .step-box { margin-top: 10px;}

    .step-box:last-child {
        padding-left: 1%;
        margin-top: 10px;
    }

    .working-steps {
        margin-bottom: 30px;
    }

    .working-steps:last-of-type {
        margin-bottom: 50px;
    }

    .app-screen {
        width: 40%;
    }

    .city-feature {font-size: 85%;}

    .city-feature ion-icon {
        width: 15px;
        margin-right: 2px;
    }

    .plans {
        width: 100%;
        margin-left: 0%;
    }
    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 70%;
    }

    footer { font-size: 80%;}
    .footer-nav li, .social-links li { margin-right: 13px; }
}

/* Medium screens: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {font-size: 16px;}

    section { padding: 30px 0;}
    header { height: 70vh;}

    row,
    .header-text { 
        padding: 0;
        top: 25%;
     }

    h1 { font-size: 180%;}

    h2 { 
        font-size: 150%;
        margin-bottom: 20px;
    }

    h3 { font-size: 100%;}

    .col { width: 100%;}

    .logo { height: 60px;}

    .main-nav { margin-top: 40px;}

    .main-nav li {
        font-size: 13px;
        margin-left: 20px;
    }

    .feature-text {
        width: 98%;
        margin-left: 1%;
        margin-bottom: 25px;
    }

    .features ion-icon { 
        font-size: 300%;
        margin-bottom: 0;
    }

    .features h3 {
        margin-bottom: 5px;
    }

    .features .col { width: 98%;}

    .working-steps {
        margin-bottom: 20px;
    }

    .step-box:first-child {
        text-align: center;
        margin: 10px 0;
    }

    .working-steps:last-of-type {
        margin-bottom: 35px;
    }

    .working-steps div {
        height: 40px;
        width: 40px;
        padding: 3px;    
    }

    .btn-app img {
        height: 45px;
        margin-left: 25px;
    }

    .signup-section .col { margin: 1% 0 1% 0%;}

    .contact-form .col { margin: 3% 0 1% 0%;}

    input[type=checkbox] { margin: 0 0 5px 0; }

    .contact-form .row:nth-child(5) {
        display: inline-block;
    }
}

/* Small screens: from 0 to 480px */
@media only screen and (max-width: 480px) {

}